%h2.pagination-centered.muted
  Moanalua Athletic Club 2014 #{@registration.type} Registration
= render :partial => partials_path(@registration, "instructions")
= render partials_path(@registration, "form")
