.alert.alert-success{:style => 'margin-top: 25px;'}
  %strong
    Thank you!
  %br
  Your #{@registration.class} registration has been received. Your registration number is 
  %em.underline #{@registration.number}

= render :partial => partials_path(@registration, 'thankyou')