%h3 Moanalua Athletic Club (MAC) Baseball Information

%p Welcome to the Moanalua Athletic Club (MAC) baseball program!

%p The MAC baseball program is primarily for youth residing in the Moanalua area (Fort Shafter to Red Hill and mauka of the freeway), or attending Moanalua Elementary or Middle Schools.  Those who have participated in MAC baseball before will be allowed to participate as well.

%p If you are participating in other sports which conflict with our season (April through July), please understand that baseball will take precedence.  PAL will not allow a player to participate in concurring baseball seasons.  If you cannot make this commitment, please do not register your child. 

%h4 Tryouts
%p There will be no tryouts this season.  All players will be assigned a team.  There will be no designated A or B teams this season.  You will be notified by your head coach when he/she is ready to begin practices.

%h4 Picture-Taking
%p Picture taking will be held in May (exact date and times TBD).

%h4 Mustang & Bronco Goodwill Tournament
%p Goodwill tournament will be held in July 2013 at CORP. 

%h4 Registration
%ul
  %li
    Online Registration period is 2/3/2013 - 3/3/2013
    %strong.text-error ABSOLUTELY NO LATE REGISTRATIONS

  %li
    In-person Registration will be held on Tues, 2/19 and Wed, 2/20 from 4:30pm – 6:30pm at the Moanalua Pavilion (by the Elementary and Middle school)
    %br
    %em Sample uniforms will be available for sizing.

%h5 Age Divisions:
%ol
  %li Jr. Pinto (4/30/08 - 5/1/2006)
  %li Pinto (4/30/2006 - 5/1/2004)
  %li Mustang (4/30/2004 - 5/1/2002)
  %li Bronco (4/30/2002 - 5/1/1999)
  %li Pony (4/30/2000 - 5/1/1997)

%h4 Check Policy
%p Checks returned unpaid by your bank will be returned to you by the program coordinator.  Your check will not be re-deposited.  Within one week of notification, you must make arrangements with the coordinator (or any board member) to pay the registration fee plus $20.00 (bank charges) by either: 1) cash or 2) another check.  Should your second check be returned, all future payments (regardless of activity) must be made in cash.  If you have any questions regarding this policy, please check with the program coordinator. 

.alert.alert-warning
  =link_to 'Register Now!', new_baseball_url, class: 'btn btn-large btn-primary'

%p
  Candace Fujishima
  |
  MAC Baseball Coordinator
  |
  389-6682
  |
  =mail_to "palmacbaseball@gmail.com", nil, :subject => "MAC Baseball Question"
  %i.icon-envelope