%h3 Moanalua Athletic Club (MAC) Basketball Information

%p Welcome to the Moanalua Athletic Club (MAC) basketball program!

%p The MAC basketball program is primarily for youth residing in the Moanalua area (Fort Shafter to Red Hill and mauka of the freeway), or attending Moanalua Elementary or Middle Schools.  Those who have participated in MAC basketball before will be allowed to participate as well.

%p
  Online Registration coming soon...

%p
  Contact
  = mail_to "palmoanalua@gmail.com", nil, :subject => "MAC Basketball Question"
  %i.icon-envelope
  for questions or assistance