%h3 Moanalua Athletic Club (MAC) Football Information

%p Welcome to the Moanalua Athletic Club (MAC) football program!

%p The MAC football program is primarily for youth residing in the Moanalua area (Fort Shafter to Red Hill and mauka of the freeway), or attending Moanalua Elementary or Middle Schools.  Those who have participated in MAC football before will be allowed to participate as well.

%p
  Online Registration coming soon...

%p
  Contact
  = mail_to "palmoanalua@gmail.com", nil, :subject => "MAC Football Question"
  %i.icon-envelope
  for questions or assistance