%fieldset
  %legend FEES
  %p The Police Activities League (PAL) no longer charges any fees for a child to participate in any PAL activities. However, each individual club may require your child to pay a club registration fee to cover the club’s expenses such as uniforms, team equipment, etc. In that case, you should be able to obtain a complete and detailed breakdown of the club’s funds expenditures from the MAC Baseball Coordinator.  Each individual team may also ask the player to be responsible for paying for the player’s trophy, pictures, etc.