%p An email has been sent to the email address that was provided (#{@registration.email_address}) in the registration form.
  
%ol
  %li Print the confirmation email
  %li Sign the printed email, this will serve as the official agreement with MAC
  %li Return the original signed email along with your payment
  %li Include a copy of the child's birth certificate if the child did not play MAC Baseball in 2013

= render :partial => partials_path(@registration, 'payment')