%p An email has been sent to the email address that was provided (#{@registration.email_address}) in the registration form. Your application is being reviewed and you will be contacted by the program coordinator.
  